<div class="about-container">
    <h2>About Us</h2>
    <p class="about-intro">
      We are Team 22 of CS 312: Modern Web Development, working on Milestone 1.
    </p>
    
    <h3>Our Team</h3>
    
    <div class="team-grid">
      <div class="team-member" *ngFor="let member of teamMembers">
        <div class="avatar-container">
          <img [src]="member.avatar" [alt]="member.name + ' avatar'" class="member-avatar">
        </div>
        <div class="member-info">
          <h4>{{ member.name }}</h4>
          <p>{{ member.bio }}</p>
        </div>
      </div>
    </div>
  </div>