<div class="manage-container">
  <h2>Manage Your Colors</h2>
  <div class="form-container" *ngIf="!colorsFetched">
    <h4>Connect to a Faure Database:</h4>
    <form (submit)="$event.preventDefault(); signIntoDatabase()">
      <div class="error-alert" *ngIf="authenticateError">{{ authenticateError }}</div>

      <div class="form-group">
        <label for="database">Database name:</label>
        <input
                type="text"
                id="database"
                name="database"
                [(ngModel)]="databaseName"
                min="1"
                max="10"
                placeholder="Enter database name"
                required
        />
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input
                type="text"
                id="username"
                name="username"
                [(ngModel)]="username"
                min="1"
                max="702"
                placeholder="Enter username"
                required
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
                type="password"
                id="password"
                name="password"
                [(ngModel)]="password"
                min="1"
                max="10"
                placeholder="Enter password"
                required
        />
      </div>

      <button type="submit" class="submit-button">Load Colors</button>
      <p class="form-note">Database not set up?</p>
      <button type="submit" (click)="isNewDatabase=true" class="submit-button accent">Create a new Database</button>
    </form>
  </div>
</div>