/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

:root {
	--primary: #0F1F44;
	--secondary: #2156A6;
	--primary-background: #FAFBFF;
	--secondary-background: #F0FAFF;
	--background-error: #FDB7B7;
	--primary-error: #750606;
	--accent: #DD6B20;
	--accent-error: #b82c1a;
	--accent-contrast: #8F3C0B;
	--primary-text: var(--primary);
	--accent-text: var(--secondary-background);
	--primary-table-border: #CBD5E0;

	--site-width: 1200px;
	color: var(--primary-text);
	font-family: "Radio Canada", sans-serif;
	font-size: 14pt;

	background: var(--primary-background);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	font-size: 1.1rem;
	line-height: 1.6;
	text-align: center;
}

h1 {
	margin: 30px 0;
	text-align: center;
}

h2 {
	margin: 20px 0;
	font-size: 2.5rem;
	text-align: center;
}

h3 {
	margin: 20px 0;
	font-size: 1.8rem;
	text-align: center;
}

h4 {
	margin: 10px 0;
	font-size: 1.4rem;
	text-align: center;
}

/*form styling */
.form-container {
	background-color: white;
	border-radius: 8px;
	padding: 30px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: 30px auto;
}

.form-group {
	margin: 20px 0;
}

label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

input:is([type="text"],[type="password"],[type="number"]) {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--primary);
	border-radius: 4px;
	font-size: 16px;
}

.error-message {
	color: var(--accent-error);
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
}

.error-alert {
	width: 100%;
	padding: .5rem 0;
	border: solid 1px var(--primary-error);
	border-radius: .5rem;
	background-color: var(--background-error);
	color: var(--accent-error);
	text-align: center;
}

.form-note {
	margin-top: 1rem;
	background: none;
	color: var(--primary);
}

.submit-button {
	background-color: var(--accent);
	color: white;
	border: none;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.3s;

	&.accent {
		background-color: var(--secondary);
		&:hover {
			background-color: var(--primary);
		}
	}

	&:hover {
		background-color: var(--accent-contrast);
	}
}

@media print {
	:root:has(.drawing-container) {
		color: black;
		background: none;
	}
}